[Desktop Entry]
Name=Flutter Linux App
Comment=Flutter Linux launcher icon
Exec=unyo
Icon=logo
Terminal=false
Type=Application
Categories=X-Multimedia;
